 
 
 /* .head{
    color:green !important;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#head1{
    color:red;
}

.para{
    color:blue;
}
.head{
    color:inherit;
} */