/* 
#btn1{
    color:blue;
    font-size:20px;
    height:10vh;
    width:100%;
}
#btn2{
    color:brown;
    font-size:20px;
    height:10vh;
    width:100%;
}
#btn3{
    color:rgb(0, 255, 89);
    font-size:20px;
    height:10vh;
    width:100%;
}
#btn4{
    color:rgb(255, 98, 0);
    font-size:20px;
    height:10vh;
    width:100%;
}
h1{
    color:rgb(4, 101, 101)
}
p{
    color:rgb(12, 23, 1)
} */